body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

#header {
  height: 100vh;
  background: url(resources/construction_page_revamped.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.welcome-container {
  /* TODO:  */
}

.welcome-container img {
  /* TODO:  */
}

.social-media-container {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  align-items: center;
}

.fa {
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 10px;
  font-size: 30px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  position: center;
}

.fa-twitter {
  background: #3B5998;
  color: white;
  position: center;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  position: center;
}
